<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <div>
        <!-- Login form -->
        <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
            <!-- Email input field -->
            <div>
                <label for="username">E-mail:</label>
                <input type="text" id="username" name="username" required />
            </div>

            <!-- Password input field -->
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>

            <!-- Submit button -->
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
</body>

</html>
